body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  color:rgb(255, 0, 149);
}
p{
  color:blue;
}
*
{
  box-sizing:border-box;
  margin:0;
  padding: 0;
}
body{
  height: 100vh;
  background:url("https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-personal-job-search-resume-background-material-image_163697.jpg"); 
 background-repeat:no-repeat; 
 background-size:cover;
}
img{
  border-radius: 100px;
}
Navbar{

}